.body{
    border: 2px solid grey;
    width: 50%;
    margin: auto;
   
}
nav{
    background-color: rgb(153, 184, 144);
    
    padding-top: 12px;
    padding-bottom: 2px;
    text-align: center;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: bisque;
    margin: auto;

}
input{
    padding: 5px;
    width: 50%;
    margin: auto;
    margin: 5px;
}